body{
    font-family: sans-serif;
    margin: 0;
}
p{
    text-align: justify;
    font-size: 20px;
    padding-right:20px;
}
h1{
    font-family: 'roboto',sans-serif;
    font-size: 50px;
}
h2{
    font-size:40px ;
}
h3{
    color: orange;
}
span{
    color: #DC661F;
    font-family: 'Pacifico', cursive;
}
section{
    margin-bottom: 100px;
}
.top-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}
.half-width{
    width: 50%;
    margin-left: 2%;
}
a{
    text-decoration: none;
}
.button{
    padding: 10px 20px;
    background-image: linear-gradient(#FBCBD5,#DC661F);
    font-size: 20px;
    font-weight: 700;
    color: black;
    border-radius: 5px;
}
.half-width img{
    width: 450px;
    float: center;
    border-radius: 30%;
}
.nd-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
}

.full-stack {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid;
    border-image: linear-gradient(green,tomato);
    border-image-slice: 1;
}
.rd-section h1{
    margin-left: 40px;
}
.exp{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 1% left;
}
.baby-stack{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid;
    border-image: linear-gradient(purple,tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}